.left{
    display: flex;
    float: left;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    
}
.left div{
  cursor: pointer;
}
.icon{
   font-weight: bolder;
   border: 1px solid black;
   padding: 0.5rem 1rem;
   border-radius: 100%;
   background-color: red;
}
.right{
    display: flex;
    float: right;
    width: 15%;
    height: 10%;
    justify-content: space-between;
}
.right img{
  width: 20%;
  height: 20%;
  cursor: pointer;
}
.menu{
  display: none;
}
@media (max-width: 767px) {
.menu{
  display: block;
  float: right;
  width: 3rem;
  height: 3rem;
}
.right{
  display: none;
}
}