.left{
    display: flex;
    float: left;
    width: 25%;
    justify-content: space-between;
}
.icon{
   font-weight: bolder;
   border: 1px solid black;
   padding: 0.5rem 1rem;
   border-radius: 100%;
   background-color: red;
}
.right{
    display: flex;
    float: right;
    width: 15%;
    height: 10%;
    justify-content: space-between;
}
.right img{
  width: 20%;
  height: 20%;
}